# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Env folders
venv/
.venv/
env/
ENV/
env.bak/

# Virtualenv
virtualenv/

# Spyder project settings
.spyproject

# PyCharm
.idea/

# VS Code
.vscode/

# Logs
logs/
*.log

# Artifacts (model outputs, generated datasets)
Artifacts/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# compiled python files
*.pyc

# dotenv files (env vars)
.env
.env.*
venv
.env
testmongodb.py
